.country-list-li-con{
    height: 260px;
    width: 270px;
    background-color: rgb(255, 255, 255);
    border:1px solid gray;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 30px;
    box-shadow: 0 2px 8px 12px  rgba(0, 0, 0, 0.1); /* Adding box shadow */
    transition: box-shadow 0.3s ease;
}
.country-flag-img-con{
    height: 70%;
    width: 60%;
}
.li{
    text-decoration: none;
    color: rgb(27, 67, 228);
    font-size: 18px;
}
.li:hover{
   color: #8f04ba;
}
img{
    height: 80%;
    width: 100%;
}
.h2{
    font-size: 20px;
    margin-top: 0px;
    margin-left: 0px;
    color:blueviolet;
    letter-spacing: 0.6px;
    margin-bottom: 10px;
}
.btns-row-con{
    display: flex;
    margin-bottom: 20px;
}
.update-btn{
    height: 30px;
    width: 80px;
    border-radius: 5px;
    background-color:  rgb(0, 123, 255);
    color: white;
    border: none;
}
.delete-btn{
    height: 30px;
    width: 80px;
    border-radius: 5px;
    background-color:  rgb(255, 0, 0);
    color: white;
    margin-left: 20px;
    border: none;
}
button{
    cursor: pointer;
}