.states-bg-con{
    height: 90vh;
    width: 100vw;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.display-states-con{
    height: 80%;
    width: 100%;
}
.states-display-ul-con{
    height: 100%;
    width: 99%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    padding-top: 30px;
    overflow-y: scroll;
}
.states-list-li-con{
    height: 150px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    border:1px solid gray;
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}

.update-btnn{
    height: 25px;
    width: 70px;
    border-radius: 5px;
    background-color:  rgb(0, 204, 255);
    color: white;
    border: none;
}
.delete-btnn{
    height: 25px;
    width: 70px;
    border-radius: 5px;
    background-color:  rgb(241, 10, 10);
    color: white;
    margin-left: 20px;
    border: none;
}
h2{
    font-weight: bold; /* Make the text bold (optional) */
    background: linear-gradient(to right, rgb(187, 16, 127), rgb(176, 6, 227), rgb(0, 162, 255)); /* Define your gradient colors */
    -webkit-background-clip: text; /* Use the background as the text's clipping mask */
    -webkit-text-fill-color: transparent; /* Set the text fill color to transparent */
    background-clip: text; /* Required for Firefox */
    text-fill-color: transparent; /* Required for Firefox */
    font-size: 25px;
    text-decoration: underline;
    margin-left: 20px;
}