.cities-bg-con{
    height: 90vh;
    width: 100vw;
    padding: 50px;
    box-sizing: border-box;
}

.display-cities-con{
    height: 80%;
    width: 100%;
}
h2{
    font-weight: bold; /* Make the text bold (optional) */
    background: linear-gradient(to right, rgb(144, 5, 190), rgb(165, 20, 209), rgb(208, 0, 255)); /* Define your gradient colors */
    -webkit-background-clip: text; /* Use the background as the text's clipping mask */
    -webkit-text-fill-color: transparent; /* Set the text fill color to transparent */
    background-clip: text; /* Required for Firefox */
    text-fill-color: transparent; /* Required for Firefox */
    font-size: 25px;
    text-decoration: underline;
    margin-left: 30px;
}